h3 {
    text-align: center;
    font-size: 2em;
}

.menu-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust minmax values as needed */
    gap: 50px;
    justify-content: center;
  }
  